<?xml version="1.0"?>
<config>
    <modules>
        <MageAustralia_SocialLogin>
            <version>1.1.0</version>
        </MageAustralia_SocialLogin>
    </modules>
    <global>
        <models>
            <sociallogin>
                <class>MageAustralia_SocialLogin_Model</class>
                <resourceModel>sociallogin_resource</resourceModel>
            </sociallogin>
            <sociallogin_resource>
                <class>MageAustralia_SocialLogin_Model_Resource</class>
                <entities>
                    <social_identity>
                        <table>mageaustralia_social_login</table>
                    </social_identity>
                    <otp>
                        <table>sociallogin_otp</table>
                    </otp>
                </entities>
            </sociallogin_resource>
        </models>
        <helpers>
            <sociallogin>
                <class>MageAustralia_SocialLogin_Helper</class>
            </sociallogin>
        </helpers>
        <resources>
            <sociallogin_setup>
                <setup>
                    <module>MageAustralia_SocialLogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sociallogin_setup>
        </resources>
        <events>
            <api_store_config_dto_build>
                <observers>
                    <sociallogin_register_providers>
                        <type>singleton</type>
                        <class>MageAustralia_SocialLogin_Model_Observer</class>
                        <method>registerSocialLoginProviders</method>
                    </sociallogin_register_providers>
                </observers>
            </api_store_config_dto_build>
        </events>
        <blocks>
            <sociallogin>
                <class>MageAustralia_SocialLogin_Block</class>
            </sociallogin>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <sociallogin>
                    <file>sociallogin.xml</file>
                </sociallogin>
            </updates>
        </layout>
    </frontend>
    <default>
        <customer>
            <sociallogin>
                <google_enabled>0</google_enabled>
                <google_client_id/>
                <apple_enabled>0</apple_enabled>
                <apple_service_id/>
                <facebook_enabled>0</facebook_enabled>
                <facebook_app_id/>
                <facebook_app_secret backend_model="adminhtml/system_config_backend_encrypted"/>
                <otp_enabled>0</otp_enabled>
                <otp_length>6</otp_length>
                <otp_expiry_minutes>10</otp_expiry_minutes>
                <otp_max_attempts>5</otp_max_attempts>
                <otp_rl_identifier_count>3</otp_rl_identifier_count>
                <otp_rl_identifier_window>300</otp_rl_identifier_window>
                <otp_rl_ip_count>15</otp_rl_ip_count>
                <otp_rl_ip_window>3600</otp_rl_ip_window>
                <otp_sms_enabled>0</otp_sms_enabled>
                <otp_sms_provider>clickatell</otp_sms_provider>
                <otp_resend_cooldown>60</otp_resend_cooldown>
                <otp_clickatell_api_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <otp_clickatell_sender/>
                <otp_pepper backend_model="adminhtml/system_config_backend_encrypted"/>
            </sociallogin>
        </customer>
    </default>
</config>
