<?xml version="1.0"?>
<config>
    <modules>
        <MageAustralia_SocialLogin>
            <version>2.0.0</version>
        </MageAustralia_SocialLogin>
    </modules>
    <global>
        <models>
            <smslogin>
                <class>MageAustralia_SocialLogin_Model</class>
                <resourceModel>smslogin_resource</resourceModel>
            </smslogin>
            <smslogin_resource>
                <class>MageAustralia_SocialLogin_Model_Resource</class>
                <entities>
                    <otp>
                        <table>sociallogin_otp</table>
                    </otp>
                </entities>
            </smslogin_resource>
        </models>
        <helpers>
            <smslogin>
                <class>MageAustralia_SocialLogin_Helper</class>
            </smslogin>
        </helpers>
        <resources>
            <smslogin_setup>
                <setup>
                    <module>MageAustralia_SocialLogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smslogin_setup>
        </resources>
        <blocks>
            <smslogin>
                <class>MageAustralia_SocialLogin_Block</class>
            </smslogin>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <smslogin>
                    <file>smslogin.xml</file>
                </smslogin>
            </updates>
        </layout>
        <!-- Without this the locale CSV is never loaded and every __() string
             falls through untranslated. -->
        <translate>
            <modules>
                <MageAustralia_SocialLogin>
                    <files>
                        <default>MageAustralia_SocialLogin.csv</default>
                    </files>
                </MageAustralia_SocialLogin>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mageaustralia_sociallogin before="Mage_Adminhtml">MageAustralia_SocialLogin_Adminhtml</mageaustralia_sociallogin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <MageAustralia_SocialLogin>
                    <files>
                        <default>MageAustralia_SocialLogin.csv</default>
                    </files>
                </MageAustralia_SocialLogin>
            </modules>
        </translate>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <sociallogin_add_promote_mobile_button>
                        <type>singleton</type>
                        <class>MageAustralia_SocialLogin_Model_Observer</class>
                        <method>addPromoteMobileButton</method>
                    </sociallogin_add_promote_mobile_button>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
    <default>
        <customer>
            <sociallogin>
                <otp_enabled>0</otp_enabled>
                <otp_length>6</otp_length>
                <otp_expiry_minutes>10</otp_expiry_minutes>
                <otp_max_attempts>5</otp_max_attempts>
                <otp_rl_identifier_count>3</otp_rl_identifier_count>
                <otp_rl_identifier_window>300</otp_rl_identifier_window>
                <otp_rl_ip_count>15</otp_rl_ip_count>
                <otp_rl_ip_window>3600</otp_rl_ip_window>
                <otp_sms_enabled>0</otp_sms_enabled>
                <otp_default_country>AU</otp_default_country>
                <otp_sms_provider>clickatell</otp_sms_provider>
                <otp_resend_cooldown>60</otp_resend_cooldown>
                <otp_clickatell_api_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <otp_clickatell_sender/>
                <otp_pepper backend_model="adminhtml/system_config_backend_encrypted"/>
            </sociallogin>
        </customer>
    </default>
    <crontab>
        <jobs>
            <!-- Codes are single-use and expire in minutes; nothing purged them,
                 so the table grew forever and expired hashes sat on disk. -->
            <sociallogin_otp_cleanup>
                <schedule>
                    <cron_expr>17 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>smslogin/cron_otpCleanup::run</model>
                </run>
            </sociallogin_otp_cleanup>
        </jobs>
    </crontab>
</config>
